$color-blueful: #1a73e8;
$color-blueful-dark: #1766a6;
$color-blueful-dark-2: #3273a8;
$color-dark:#090d14;
$color-grey:#f7f7f7;
$color-grey-2:#e0e0e0;
$color-grey-dark: #777;
$color-white: #fff;
$font-primary: "Open Sans",sans-serif;
$shadow-small: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
$shadow-big: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);